@import "tailwindcss";

html {
    color-scheme: dark;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-image: url('/assets/noise-texture.svg');
    @apply bg-gray-950 bg-repeat text-gray-50;
}

.buttonLink {
    @apply relative inline-flex h-fit w-fit rounded-full px-4 py-2;
    @apply border border-sky-100 text-sky-200 outline-none ring-teal-300;
    @apply after:absolute after:inset-0 after:-z-10 after:rounded-full after:bg-teal-100/0 after:blur-md;
    @apply transition-colors hover:border-teal-200/40 hover:text-teal-300 after:transition-all after:duration-500
    after:hover:bg-teal-100/15 after:animate-pulse focus:ring-2;
}

.glassContainer {
    @apply relative;
}

.glassContainer::before {
    content: "";
    @apply absolute -inset-[10px] -z-10 rounded-xl border border-gray-100/20 bg-gray-200/10 backdrop-blur-md;
}